@import 'common.css';
@import 'icons.css';

.group-content {
  background-color: var(--color-heading-bg);

  display: grid;
  grid-template-columns: repeat(auto-fill, 10rem);
  gap: 1rem;
  padding-bottom: 1rem;

  > li {
    background-color: var(--color-primary);
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 8rem;
    height: 3rem;
    padding: 1.4rem;
    transition: 0.3s;

    &:hover {
      background-color: var(--color-text);
      color: var(--color-link);
    }

    a {
      color: inherit;
      font-size: 0.9rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
