@import 'reset.css';
@import 'base.css';
@import 'navbar.css';

:root {
  --color-branding-text: #ffffff;
  --color-branding-background: #5a4799;
  --color-branding-hover: #888888;
  --color-branding-active-background: #869947;
  --default-font-weight: 300;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #ffffff;
  }
}

/* navbar */
.nav {
  display: block;
  background-color: var(--color-branding-background);
}

@media (min-width: 40rem) {
  .nav {
    display: flex;
  }
}

.nav-item {
  padding: 1rem;
}

.nav-item[aria-current='page'] {
  background-color: var(--color-branding-active-background);
  font-weight: 700;
}

.nav-item-login {
  margin-left: auto;
}

.nav-item a {
  text-decoration: none;
  color: var(--color-branding-text);
  text-transform: capitalize;
}
